body{
  background-color: #eaeaea;
  color: #6d6e70;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  margin: 45px;
}

#principal-container{
  background-color: #fff;
  display: block;
  margin: 0 auto;
  position: relative;
  width: 900px;
}

header, footer, #content{
  display: block;
  position: relative;
}

header{
  background-color: #ccc;
}

#content{
  overflow: auto;
}

footer{
  background-color: #00adee;
  height: 33px;
}


/* This is for the nav bar */
nav{
  background-color: #00adee;
  height: 51px;
  display: block;
  position: relative;
}

nav a{
  color: #fff;
  display: inline-block;
  font-size: 12px;
  margin-top: 8px;
  padding: 10px;
  position: relative;
  text-decoration: none;
}

nav a:hover{
  background-color: #fff;
  color: #404041;
}

nav #logo{
  background-color: #fff;
  background-image: url(../imagenes/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 51px;
  margin: 0;
  margin-right: 30px;
  overflow: hidden;
  padding: 0;
  text-indent: 500px;
  vertical-align: top;
  width: 196px;
}

/* for the image header */
#header-image{
  background-image: url(../imagenes/fondo-portada.jpg);
  display: block;
  height: 280px;
  position: relative;
}

#header-image > span {
  background-color: rgba(64, 64, 65, 0.60);
  bottom: 0;
  left: 0;
  color: #fff;
  display: block;
  font-size: 42px;
  padding: 15px 120px;
  position: absolute;
  right: 0;
}

/* for the news */
#news{
  background-color: #fff;
  bottom: 0;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 225px;
}

#news > div {
  display: block;
  height: 295px;
  overflow: auto;
  position: relative;
}

#news > a{
  background-color: #00adee;
  bottom: 0;
  color: #fff;
  display: block;
  font-size: 14px;
  left: 0;
  padding: 10px;
  position: absolute;
  right: 0;
  text-align: center;
  text-decoration: none;
}

#news > div > a{
  color: #58595b;
  display: block;
  padding: 10px;
  position: relative;
  text-decoration: none;
}

#news > div > a > span{
  color: #00adee;
  display: block;
  font-size: 18px;
  margin: 0 0 5px;
  position: relative;
}

#news > div > a > p{
  margin: 0;
}

#news > div > a:hover {
  background-color: #404041;
}

#news > div > a:hover p{
  color: #fff;
}

/* for the principal container */

.introduction-column{
  box-sizing: border-box;
  display: block;
  float: left;
  padding: 30px;
  position: relative;
  width: 50%;
}

.introduction-column > h1,
.introduction-column > h2{

  display: block;
  font-weight: normal;
  margin: 0 0 5px;
  position: relative;

}

.introduction-column > h1{
  font-size: 36px;
}

.introduction-column > h2{
  font-size: 18px;
}

.introduction-column > p{
  margin: 0 0 25px;
}

.introduction-column * {
  padding-left: 40px;
}

.blue-bullet{
  background: url(../imagenes/bullet.jpg) no-repeat left center;
}